/* Playfair Display */
@font-face {
    font-family: 'Playfair Display';
    font-display: swap;
    src:  url('../fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-Regular.woff') format('woff');
}

/* Poppins */
@font-face {
    font-family: 'Poppins';
    font-display: swap;
    src:  url('../fonts/Poppins-Light.woff2') format('woff2'),
    url('../fonts/Poppins-Light.woff') format('woff');
}

/* Icomoon */
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon/icomoon.eot?9i2c5s');
    src:  url('../fonts/icomoon/icomoon.eot?9i2c5s#iefix') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon.ttf?9i2c5s') format('truetype'),
    url('../fonts/icomoon/icomoon.woff?9i2c5s') format('woff'),
    url('../fonts/icomoon/icomoon.svg?9i2c5s#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-laptop:before {
    content: "\e001";
}
.icon-desktop:before {
    content: "\e002";
}
.icon-phone:before {
    content: "\e004";
}
.icon-document:before {
    content: "\e005";
}
.icon-newspaper:before {
    content: "\e009";
}
.icon-calendar:before {
    content: "\e00d";
}
.icon-picture:before {
    content: "\e00f";
}
.icon-camera:before {
    content: "\e012";
}
.icon-toolbox:before {
    content: "\e014";
}
.icon-bargraph:before {
    content: "\e018";
}
.icon-ribbon:before {
    content: "\e01e";
}
.icon-hourglass:before {
    content: "\e01f";
}
.icon-lock:before {
    content: "\e020";
}
.icon-megaphone:before {
    content: "\e021";
}
.icon-trophy:before {
    content: "\e023";
}
.icon-flag:before {
    content: "\e024";
}
.icon-envelope:before {
    content: "\e028";
}
.icon-streetsign:before {
    content: "\e029";
}
.icon-paperclip:before {
    content: "\e02d";
}
.icon-attachment:before {
    content: "\e02e";
}
.icon-pricetags:before {
    content: "\e02f";
}
.icon-lightbulb:before {
    content: "\e030";
}
.icon-magnifying-glass:before {
    content: "\e037";
}
.icon-profile-male:before {
    content: "\e040";
}
.icon-map-pin:before {
    content: "\e047";
}
.icon-chat:before {
    content: "\e049";
}
.icon-heart:before {
    content: "\e04a";
}
.icon-target:before {
    content: "\e04e";
}
.icon-global:before {
    content: "\e052";
}
.icon-clock:before {
    content: "\e055";
}
.icon-quote:before {
    content: "\e057";
}
.icon-heart1:before {
    content: "\e900";
}
.icon-star:before {
    content: "\e901";
}
.icon-user:before {
    content: "\e902";
}
.icon-search:before {
    content: "\e90d";
}
.icon-tag:before {
    content: "\e90e";
}
.icon-display:before {
    content: "\e903";
}
.icon-location:before {
    content: "\e904";
}
.icon-eye:before {
    content: "\e905";
}
.icon-bubble:before {
    content: "\e906";
}
.icon-stack:before {
    content: "\e907";
}
.icon-phone1:before {
    content: "\e908";
}
.icon-mail:before {
    content: "\e909";
}
.icon-paperplane:before {
    content: "\e90a";
}
.icon-clip:before {
    content: "\e90f";
}
.icon-calendar1:before {
    content: "\e910";
}
.icon-wallet:before {
    content: "\e90b";
}
.icon-world:before {
    content: "\e90c";
}
.icon-arrow-right:before {
    content: "\e911";
}